body {
  background-color: #fff1de;
  color: #333333;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #0e3768;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

p {
  text-align: left;
  max-width: 70ch;
  margin-bottom: 1em;
}

a {
  color: #0e3768;
  text-decoration: underline;
}

a:focus, button:focus, input:focus {
  outline: 2px solid #3498db;
  outline-offset: 2px;
}